<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
    <form id="roleForm" action="" class="form">
        <input name="id" type="hidden" th:value="${role?.id}">

        <div class="form-line required">
            <label for="name">角色名称</label>
            <input id="name" name="roleName" type="text" th:value="${role?.roleName}"  class="easyui-textbox"  data-options="required:true">
        </div>
        <div class="form-line required">
            <label for="roleKey">资源标识</label>
            <input id="roleKey" name="roleKey" th:value="${role?.roleKey}" type="text" class="easyui-textbox" data-options="required:true">
        </div>
        <div class="form-line">
            <label for="description">描述</label>
            <input id="description" name="description" th:value="${role?.description}" type="text" class="easyui-textbox" data-options="multiline:true">
        </div>
        <div class="form-line">
            <label for="enable">状态</label>
            <input id="enable" name="enable" class="easyui-switchbutton" th:data-options="'onText:\'启用\',offText:\'禁用\',value:\'1\',checked:'+${role?.enable == null || role?.enable?'true':'false'}">
        </div>

    </form>
</body>
</html>