.header {
    height: 70px;
    overflow: hidden;
    padding-left: 20px
}
.header .title{
    float: left;
}
.header .info{
    float: right;
    height: 70px;
    line-height: 70px;
    margin-right: 20px;
}
.header .info a:after{
    content: '|';
    margin: 0 5px;
}
.header .info a:last-child:after{
    content: '';
    margin: 0;
}
.footer{
    height: 30px;
    overflow: hidden;
    text-align: center;
    line-height: 30px;
}

*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*替换tree的图标*/
.tree-icon{
    font: normal normal normal 12px/1 FontAwesome;
    font-size: 15px !important;
    background: none;
}
.tree-folder:BEFORE{
    content: "\f114";
}
.tree-folder-open:BEFORE{
    content: "\f115";
}
.tree-file:BEFORE{
    content: "\f0f6";
}

.tree-node{
    margin: 3px 0;
}
.panel-icon{
    font-size: 16px;
}
/*.panel-tool a{
    font: normal normal normal 18px/1 FontAwesome;
    font-size: 18px !important;
    background: none;
}
.layout-button-left:before{
    content: '\f100';
}
.layout-button-right:before{
    content: '\f101';
}
.panel-tool-close:before{
    content: "\f00d";
}*/

.form .form-line{
    margin: 10px;
}
.form .form-line label{
    width: 80px;
    display: inline-block;
    text-align: right;
    margin-right: 10px;
}
.form .form-line label:after{
    content: ':';
}
.form .form-line input[type=text], .form .form-line input[type=password], .form .form-line select{
    min-width: 200px;
}
.form .form-line.required label:before{
    content: "*";
    color: red;
}
a.actions{
    cursor: pointer;
}
a.actions:before{
    padding-right: 2px;
}
a.actions:after{
    content: "|";
    margin: 0 5px;
}
a.actions:last-child:after{
    content: "";
    margin: 0;
}
a.actions:hover{
    color: #ff6600;
}
.l-btn-icon{
    margin-top: -6px;
}

a.create:after{
    content: "";
    margin: 0 5px;
}

.searchbox-button{
    font: normal normal normal 12px/1 FontAwesome;
    font-size: 15px !important;
    background: none;
    color: #8d8d8d;
    margin-top: 6px;
}
.searchbox-button:before{
    content: "\f002";
}



